* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.container {
    position: absolute;
    text-align: center;
    width: 500px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* text-align: center works with inline-block elements*/
.inline-block-container {
    width: 400px;
    display: inline-block;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}